{% extends "home.html" %}

{% block menu_links %}
    <li class="link"><a href="{% url 'home' %}">Home</a></li>
    <li class="link"><a href="{% url 'logup' %}">Log Up</a></li>
{% endblock %}

{% block content %}
	<section id="content_register" class="contents">
		<header class="header_form">
			<h2>Register your company and be a part of this network.</h2>
		</header>
		<form id="form_register" class="forms_home" action="{% url 'enterprise:register' %}" method="POST" role="form" >
			<ul id="ul_register" class="uls_home">
				{{ form.as_ul }}
				{% csrf_token %}
				<li><input id="submit_register" class="submit_main" type="submit" value="ADD"></li>
			</ul>
		</form>
	</section>
{% endblock %}