#content_login{
  text-align: center;
}

.header_form{
  text-align: center;
  font-size: 0.8em;
  font-variant: small-caps;
}

h2{
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

#form_login{
  margin: 20px auto;
}
  #form_login li{
    margin-top: 10px;
  }
   label{
     display: inline-block;
     text-align: right;
     width: 150px;
   }
   input{
     border: 1px solid #489;
     border-top-right-radius: 25px;
     padding: 5px;
     text-align: center;
     font-family: 'Segoe Marker','Lucida Console';
   }
   .button_submit{
     display: block;
     width: 150px;
     margin: 25px auto;
     border-top-left-radius: 25px;
   }