.header_form{
  text-align: center;
  font-size: 0.8em;
}

h2{
  border-bottom: 3px double
}

#form_signup{
  width: 60%;
  margin: 20px auto;
}

  #form_signup li{
    margin-top: 15px;
  }
   label{
     display: inline-block;
     width: 43%;
   }
   input{
     border: 1px solid #489;
     border-radius: 50px;
     padding: 5px;
     text-align: center;
     font-family: 'Segoe Marker','Lucida Console';
   }
   select{
     border: 1px solid #489;
     padding: 5px;
   }
   .helptext{
     display: block;
     color: #280;
   }

   .button_submit{
     display: block;
     width: 30%;
     margin: 25px auto;
     border-radius: 0px;
   }