{% extends "home.html" %}

{% block title %}Log up to i-Logger{% endblock %}

{% block menu_links %}
    <li class="link"><a href="{% url 'home' %}">Home</a></li>
    <li class="link"><a href="{% url 'login' %}">Log In</a></li>
{% endblock %}

{% block content %}
	<section id="content_logup" class="contents">
		<header class="header_form">
			<h2>A Hassle-Free login, to keep YOU SECURE .</h2>
		</header>
		<form id="form_logup" class="forms_home" action="{% url 'logup' %}" method="POST" role="form" >
			<ul id="ul_logup" class="uls_home">
				{{ form.as_ul }}
				{% csrf_token %}
				<li><input class="submit_main" type="submit" value="SIGN UP"></li>
			</ul>
		</form>
		<div id="add">
			<h3>Didnt find your enterprise..?</h3>
			<h4><a href="{% url 'enterprise:register' %}">Click here to <span class="ilog">add</span></a></h4>
		</div>
	</section>
{% endblock %}