{{capabilities}}	
	<h2>{{page_enterprise}}: Capability</h2>
	<li><h3>Operations we can perform:<h3></li>
   	<ul>
    {% for o in operations %}		
		<li>{{o}}</li> 
	{% empty %}
		<p>There are no operations yet.</p>
	{% endfor %}

	<li><h3>Assets we have:<h3></li>
    <ul>
   {% for asset in assets %}
   	<li><img src="{{ MEDIA_URL }}{{ asset.get_asset_image_thumbnail }}" class="picture"><strong>{{ asset }}</strong> : {{ asset.description }}</a></li>		
	<img src="{{ MEDIA_URL }}{{ asset.get_asset_image }}" class="picture">
    </ul>
    {% empty %}
        <p>There are no assets.</p>
    {% endfor %}