{% extends 'base.html' %}
{% load i18n %}


{% block content %}

	
    <h2>{{page_enterprise}}: Products</h2>
	
    {% if products %}
        <ul>
        {% for product in products %}
			
            <li><img src="{{ MEDIA_URL }}{{ product.get_product_image_thumbnail }}" class="picture"><strong>{{ product }}</strong> : {{ product.description }}</a></li>
			
			<img src="{{ MEDIA_URL }}{{ product.get_product_image }}" class="picture">
			
			.
			
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no products.</p>
    {% endif %}

    

{% endblock %}