label{
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 150px;
  margin-right: 10px;
  color: #444;
}

  .header_form{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: 600;
    color: #555;
    border-bottom: 1px solid #9aa;
  }

  .forms_home{
    margin-left: 10%;
  }

    .uls_home li{
      line-height: 50px;
    }
   .uls_home input{
     width: 150px;
     padding: 5px;
     font-family: 'Segoe Marker','Lucida Console';
   }

   .submit_main{
      margin-left: 170px;
      cursor: pointer;
   }
   #submit_login{
    position: relative;
      margin: 40px auto;
   }

  .uls_home .helptext{
    display: inline-block;
    color: #1c8;
    font-size: 0.9em;
    vertical-align: top;
  }
  .uls_home .errorlist{
    display: none;
  }

   .uls_home select{
     width: 150px;
     padding: 5px 10px;
     font-family: 'Segoe Marker','Lucida Console';
   }
   #submit_logup{
      margin-left: 220px;
   }

#ul_logup li{
  line-height: 40px;
}
#ul_logup label{
  width: 200px;
}
#submit_edit{
  float: right;
  margin-top: -20px;
}
.form_edit textarea{
  width: 60%;
  margin-bottom: 20px;
  padding: 5px;
}
.form_edit input{
  width: 60%;
  margin-bottom: 20px;
  padding: 5px;
}

.form_edit label{
  width: 100px;
}

#add_ent{
  margin: 20px 0px 20px 250px;
}

#ul_register li{
  display: inline-block;
  vertical-align: top;
  width: 30%;
  line-height: initial;
  border-right: 1px solid #9aa;
  border-left: 1px solid #9aa;
  padding: 0px 1%;
}

#ul_register input{
  margin-bottom: 5px;
}
#ul_register select{
  margin-bottom: 15px;
  min-height: 200px;
}

#ul_register .hepltext{
  text-align: justify;
}

#ul_register li:first-child{
  display: block;
  margin: 0px auto 20px auto;
  border-right: 0px solid #9aa;
  border-left: 0px solid #9aa;
}
#ul_register li:last-child{
  display: block;
  margin: 10px auto ;
  border-right: 0px solid #9aa;
  border-left: 0px solid #9aa;
}

#ul_register label{
  text-align: center;
  width: 100px;
}

#submit_register{
  display: block;
  margin: auto;
}

#add{
  width: 100%;
}

#add h4{
  display: inline-block;
  width: 30%;
  padding: 0 1%;
  text-align: center;
}