*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	margin: auto;
	background: #fcfffc;
	width: 100%;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #157;
}

input, textarea, select{
	border: 1px solid #9aa;
	border-radius: 5px;
	color: #444;
}

.container{
	position: relative;
	width: 100%;
	font-family: 'Nyala','Lucida Sans Unicode';
	font-size: 1.1em;
}

	.header_frame{
		width: 100%;
		font-family: 'Exo','Neuropolitical','Lithos Pro';
		font-size: 1em;
	}
		h2{
			text-align: center;
		}
			.ilog{
				color: #157;
			}

	.content{
		width: 95%;
		margin: auto;
		padding: 5px;
		overflow-x: hidden;
	}

.close{
	position: fixed;
	top: 100%;
	margin: auto;
}

.pop_link_left{
	position: fixed;
	right: 0px;
	width: 70px;
  text-align: center;
  padding: 2px 20px;
  background-color: #157;
  color: #dee;
  box-shadow: -3px 0px 2px #9aa;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}
.pop_link_left:hover{
  box-shadow: 0px 0px 2px #9aa;
}