.nav_content{
	padding: 0px;
	text-align: right;
	font-family: 'Calibri';
	margin-bottom: 20px;
	font-size: 1em;
}
	.ul_content{
		display: block;
	}
		.link_content{
			display: inline-block;
			width: 12%;
			text-align: center;
			box-shadow: 0px 1px 1px #157;
		}
		.left{
			float: left;
			box-shadow: 0px 0px 0px #c36;
		}
		.link_content:hover{
			box-shadow: -1px 1px 2px #175;
		}

#ent_img{
	display: block;
	margin: auto;
	width: 150px;
	height: 150px;
	box-shadow: 0px 0px 5px 2px #157;
}
.ent_title{
	text-align: center;
	color: #666;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.left_info{
	width: 80%;
	text-align: left;
	margin: 20px auto;
}

.profile_box{
	width: 100%;
	text-align: left;
	margin-top: 20px;
}
	.user_thumb{
		float: right;
		width: 150px;
		height: 150px;
		box-shadow: 0px 0px 5px 2px #157;
	}

	.info_box{
		width: 100%;
	}
	.half{
		width: 50%;
	}
	.info_name{
		display: inline-block;
		text-align: center;
		color: #666;
		padding: 5px;
		font-size: 1.1em;
		margin-bottom: 10px;
		margin-right: 20px;
	}
	.info_data{
		width: 95%;
		font-size: 0.9em;
		vertical-align: top;
		padding: 5px 10px;
		margin-bottom: 10px;
		box-shadow: 0px 0px 5px #9aa;
		border-radius: 15px;
	}
	.wide{
	}

.pop_link_left{
	float: right;
	margin-right: -3%;
	text-align: center;
	padding: 2px 20px;
	background-color: #157;
	color: #dee;
	box-shadow: -3px 0px 2px #9aa;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.pop_link_left:hover{
	box-shadow: 0px 0px 2px #9aa;
}