.nav_content{
	height: 0px;
}
#search_result{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	min-height: 400px;
}
	#search_result section{
		display: inline-block;
		width: 45%;
		vertical-align: top;
		border-left: 1px solid #9aa;
		padding: 5px 10px;
	}
#adv_search_result{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	min-height: 400px;
	padding: 5px 10px;
}

h3{
	text-align: center;
	margin-bottom: 10px;
	padding: 0px 10px 5px 0px;
	border-bottom: 1px solid #157
}

.search_no{
	display: inline-block;
	background-color: #cdd;
	padding: 3px 5px;
	cursor: pointer;
	border: 1px solid #cdd;
}

.search_no:hover{
	border: 1px solid #455;
}

.result_box{
	margin-bottom: 10px;
}

.result_list, .match_list{
	margin: 1% 0px;
	padding: 1%;
	border: 1px solid #9aa;
	width: 96%;
}