{% extends 'user_home.html' %}

{% block left_menu %}
{% endblock %}

{% block mid_content %}
  <ul class="list">
	{% for notification in unread %}
      <li class="unread">
        <a href="{% url 'myuserprofile:profile' notification.from_user.slug %}"><img src="{{ MEDIA_URL }}{{ notification.from_user.myuserprofile.get_image_thumbnail }}" class="user_picture"></a>
        <div>
          <small>{{ notification.date}}</small>
          <p>{{ notification|safe }}</p>
        </div>
      </li>
    {% empty %}
      <li>You have no notification</li>
    {% endfor %}
    {% for notification in read %}
      <li class="read">
        <a href="{% url 'myuserprofile:profile' notification.from_user.slug %}"><img src="{{ MEDIA_URL }}{{ notification.from_user.myuserprofile.get_image_thumbnail }}" class="user-picture"></a>
        <div>
          <small>{{ notification.date}}</small>
          <p>{{ notification|safe }}</p>
        </div>
      </li>
    {% empty %}
      <li>You have no notification</li>
    {% endfor %}
    </ul>
{% endblock %}