{% load staticfiles %}
{% load humanize %}

<!--
    This is the 'base' template.
    
    # 'home', 'user_home', 'login', 'logup' extend this
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <link href={% static 'css/base_styler.css' %} media="all" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
    <script type="text/javascript" src={% static 'js/jquery-2.1.1.js' %}></script>
    {% block js %}{% endblock %}
    <title>{% block title %}Welcome to the Industry Logger{% endblock %}</title>
</head>

<body>
    <div class="container">

        <header class='header_top'>
        {% block header %}
            <a href=""><h1 class='ilog'>Industry logger</h1></a>
        {% endblock %}
        {% if not hide_search %}
            <form id="search" action="{% url 'search' %}">
                <input type="text" id="search-text" name="q" placeholder="Search">
                <input type="submit" id="search-button" value="Go">
            </form>
        {% endif %}
        </header>

        <nav class='nav_top'>
            <ul class="ul_top">
            {% block menu_links %}

            {% endblock %}
            </ul>
        </nav>

        <section class='content'>
            {% block content %}
            {% endblock %}
        </section>

        <hr class='hr_line' />

        <footer class='footer_bottom'>
            {% block footer %}
            {% endblock %}
            <p id="brandline"><i>from a billion dollar industry</i></p>
        </footer>
    </div>

    <script type="text/javascript">
        $(setDimensions);
        $(window).resize(setDimensions);
        function setDimensions () {
            var window_width = $(window).width();
            var window_height = $(window).height();
            var footer_height = $('.footer_bottom').outerHeight(true);
            var header_height = $('.header_top').outerHeight(true);

            var side_link_height = ($('.content').height() - $('.header_user').outerHeight(true))/5;

            $('.container').css({'min-height':window_height});
            $('.side_link').css({'line-height':side_link_height+'px'});
            
        }
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>