{% extends "base.html" %}
{% load staticfiles %}

<!--
	This is the home page for a guest user.
-->

{% block css %}
	<link rel="stylesheet" type="text/css" href={% static 'css/home_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/form_styler.css' %}>
{% endblock %}

{% block menu_links %}
    <li class="link"><a href="{% url 'logup' %}">Sign Up</a></li>
    <li class="link"><a href="{% url 'login' %}">Log In</a></li>
	<li class="link"><a href="{% url 'enterprise:register' %}">Register</a></li>
	
{% endblock %}

{% block content %}
	<section id='content_home'>
		<p>
		<h3>
			IndustryLogger.com is a website especially designed for 

small and medium scale Industries and the Industrialists 

as an open online community to connect with each other and 

with the large players of the market.
Here you get a chance to create & Maintain your company's 

profile and a network of yourself and your Enterprise. It 

is a platform where you can discuss common problems, list 

your productsand promote your enterprise and its free to 

use. To avail all facilities,
			<h2><a href="{% url 'enterprise:register' %}">Register your Enterprise</a></h2>
		</h3>
		</p>
		<p>
			<h3><a href="{% url 'myuserprofile:enterprises' %}">Industries</a> which have joined the network already!</h3>
		</p>
		<p>
			
			<h3><a href="{% url 'myuserprofile:people' %}">People</a> who have joined the network already!</h3>
		</p>
	</section>
{% endblock %}