{% extends "base.html" %}
{% load staticfiles %}

<!--
	This is the home page for a guest user.
-->

{% block css %}
	<link rel="stylesheet" type="text/css" href={% static 'css/home_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/form_styler.css' %}>
{% endblock %}

{% block menu_links %}
    <li class="link"><a href="{% url 'logup' %}">Log Up</a></li>
    <li class="link"><a href="{% url 'login' %}">Log In</a></li>
{% endblock %}

{% block content %}
	<section id='content_home'>
		<p>
			This is something about the company and why you should register...
		</p>
	</section>
{% endblock %}