{% extends "base.html" %}
{% load imagekit %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
	<link rel="stylesheet" type="text/css" href={% static 'css/home_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/feed_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/profile_styler.css' %}>
{% endblock %}

{% block menu_links %}
    <li class="link"><a class="a_menu" href="{% url 'home' %}">Home</a></li>
    <li class="link"><a class="a_menu" href="{% url 'myuserprofile:profile' user.slug %}">Profile</a></li>
    <li class="link"><a class="a_menu" href="{% url 'enterprise:enterprise_profile' user.enterprise.slug %}">Workplace</a></li>
    <li class="link"><a class="a_menu" href="">Messages</a></li>
    <li class="link right"><a class="a_menu" href="">People</a></li>
    <li class="link right"><a class="a_menu" href="">Enterprises</a></li>
{% endblock %}

{% block content %}
	<section id="left_content">
		<div id="user_box">
			<a id="img_user_thumb" href=""><img class="img_profile_thumb" src="/images/{{ profile.get_image_thumbnail }}" alt="{{ user.get_full_name }}"></a>
			<div class="name"><a href="">{{ user.get_full_name }}</a></div>
			<div class="name ent"><a href="">{{ user.enterprise }}</a></div>
		</div>
		<ul id="left_menu">
			<li class="left_menu_button show">Feeds</li>
			<li class="left_menu_button">Articles</li>
		</ul>
		<div id="people_list">
			<p class="list_head">People you may know...</p>

		</div>
	</section>

	
		
		<section id="mid_content">
		<form id="form_feed" role="form" action="{% url 'nodes:post' %}" method="POST">
			{% csrf_token %}
			<textarea class="input_feed" form="form_feed" autofocus="autofocus" name="feed" placeholder="Got something..? Spit it out.."></textarea>
			<input class="submit_feed" type="submit" value="Feed">
		</form>

	{% for node in feed_nodes %}
		<article class="feed_box" >
			<div class="feed_user">
				<a href="">{{ node.myuser }}</a> | <a href="">{{ node.myuser.enterprise }}</a>
				<div class="feed_date">{{ node.date }}</div>
			</div>
			<div class="feed_data">
				<div class="feed_body">{{ node.post }}</div>
				<div class="feed_response">
				{% for comments in node.get_comments %}
					<div class="comments">
						<div class="comment_user">
							{{ comments.myuser}} | {{ comments.myuser.enterprise}}
						</div>
						{{ comments.post }}
					</div>
				{% endfor %}
					<textarea class="input_comment" name="comment" placeholder="aao to">
					</textarea>
					<div class="div_button">Reply</div>
				</div>
			</div>
		</article>
	{% endfor %}
	</section>

	<section id="right_content">
		<div id="enterprise_list">
			<p class="list_head">Enterprises you may find interesting...</p>

		</div>
		<div id="product_list">
			<p class="list_head">Products you may be looking for...</p>

		</div>
	</section>
	
{% endblock %}

{% block footer %}
	<ul>
    	<li><a href="{% url 'logout' %}">Log Out</a></li>
	</ul>
{% endblock %}