{% extends "base.html" %}
{% load imagekit %}
{% load staticfiles %}
{% load humanize %}

{% block css %}
	<link rel="stylesheet" type="text/css" href={% static 'css/home_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/feed_styler.css' %}>
	{% block css_2 %}
	{% endblock %}
{% endblock %}

{% block menu_links %}
    <li class="link"><a class="a_menu" href="{% url 'home' %}">Home</a></li>
    <li class="link"><a class="a_menu" href="{% url 'myuserprofile:profile' user.slug %}">Profile</a></li>
    <li class="link"><a class="a_menu" href="{% url 'enterprise:enterprise_profile' user.enterprise.slug %}">Workplace</a></li>
    <li class="link"><a class="a_menu" href="{% url 'messages:inbox' %}">Messages</a></li>
    <li class="link"><a class="a_menu" href="{% url 'notifications' %}">Notifications</a></li>
    <li class="link right"><a href="{% url 'logout' %}">Log Out</a></li>
    <!--
    <li class="link right"><a class="a_menu" href="{% url 'myuserprofile:people' %}">People</a></li>
    <li class="link right"><a class="a_menu" href="{% url 'myuserprofile:enterprises' %}">Enterprises</a></li>
    -->
{% endblock %}

{% block content %}
	<section id="left_content">
	{% block left_content %}
		<div id="user_box">
			<a id="img_user_thumb" href="{% url 'myuserprofile:profile' user.slug %}"><img class="img_profile_thumb" src="/images/{{ profile.get_image_thumbnail }}" alt="{{ user.get_full_name }}"></a>
			<div class="name"><a href="{% url 'myuserprofile:profile' user.slug %}">{{ user.get_full_name }}</a></div>
			<div class="name ent"><a href="{% url 'enterprise:enterprise_profile' user.enterprise.slug %}">{{ user.enterprise }}</a></div>
		</div>
		{% block left_menu %}
		<ul id="left_menu">
			<li class="left_menu_button show">Feeds</li>
			<li class="left_menu_button">Articles</li>
		</ul>
		{% endblock %}
		<div id="people_list">
			<p class="list_head">People you may know...</p>
		</div>
	{% endblock %}
	</section>
		
	<section id="mid_content">
	{% block mid_content %}
		<form id="form_feed" role="form" action="{% url 'nodes:post' %}" method="POST">
			<textarea class="input_feed" form="form_feed" autofocus="autofocus" name="post" placeholder="Got something..? Spit it out.." required></textarea>
			<input class="submit_feed" type="submit" value="Feed">
			{% csrf_token %}
		</form>

	{% for node in feed_nodes %}
		<article class="feed_box" >
			<div class="feed_user">
				<a href="">{{ node.myuser }}</a> | <a href="">{{ node.myuser.enterprise }}</a>
				<div class="feed_date">{{ node.date }}</div>
			</div>
			<div class="feed_data">
				<div class="feed_body">{{ node.post }}</div>
				<div class="feed_response">
				{% for comments in node.get_comments %}
					<div class="comments">
						<div class="comment_user">
							{{ comments.myuser}} | {{ comments.myuser.enterprise}}
						</div>
						{{ comments.post }}
					</div>
				{% endfor %}
					<div class="comment_user">
							{{ user}} | {{ user.enterprise}}
					</div>
					<form class="form_comment" action="{% url 'nodes:comment' %}" method="POST">
						<textarea class="input_comment" name="post" placeholder="aao to" required></textarea>
						<input type="hidden" name="node" value="{{ node.pk }}">
						<input class="div_button" type="submit" value="Reply">
						{% csrf_token %}
					</form>
				</div>
			</div>
		</article>
	{% endfor %}
	{% endblock %}
	</section>

	<section id="right_content">
	{% block right_content %}
		<div id="enterprise_list">
			<p class="list_head">Enterprises you may find interesting...</p>

		</div>
		<div id="product_list">
			<p class="list_head">Products you may be looking for...</p>

		</div>
	{% endblock %}
	</section>
	
{% endblock %}