{% extends "base.html" %}
{% load imagekit %}
{% load staticfiles %}
{% load humanize %}

{% block css %}
	<link rel="stylesheet" type="text/css" href={% static 'css/home_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/feed_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/profile_styler.css' %}>
	{% block css_2 %}
	{% endblock %}
{% endblock %}

{% block menu_links %}
    <li class="link"><a class="a_menu" href="{% url 'home' %}">Home</a></li>
    <li class="link"><a class="a_menu" href="{% url 'myuserprofile:profile' user.slug %}">My Profile</a></li>
    <li class="link"><a class="a_menu" href="{% url 'enterprise:enterprise_profile' user.enterprise.slug %}">Workplace</a></li>
    <li class="link"><a class="a_menu" href="{% url 'messages:inbox' %}">Messages</a></li>
    <li class="link"><a class="a_menu framer" target="notify_frame" href="{% url 'notifications' %}">Notifications</a></li>
    <li class="link right"><a href="{% url 'logout' %}">Log Out</a></li>
    <li class="link_user">
		<a class="thumb_user" href="{% url 'myuserprofile:profile' user.slug %}"><img class="img_thumb" src="/images/{{ user.myuserprofile.get_image_thumbnail }}" alt="{{ user.get_full_name }}"></a>
		<div class="name"><a href="{% url 'myuserprofile:profile' user.slug %}">{{ user.get_full_name }}</a> | 
		<a href="{% url 'enterprise:enterprise_profile' user.enterprise.slug %}">{{ user.enterprise }}</a>
		</div>
	</li>
    <!--
    <li class="link right"><a class="a_menu" href="{% url 'myuserprofile:people' %}">People</a></li>
    <li class="link right"><a class="a_menu" href="{% url 'myuserprofile:enterprises' %}">Enterprises</a></li>
    -->
{% endblock %}

{% block menu_content_links %}
	<h3 class="ent_title"><a href=""></a></h3>
	<li class="link_content aj" class="a_menu">Feeds</li>
{% endblock %}

{% block content %}
	<section id="left_content">
	{% block left_content %}
		{% block left_menu %}
		{% endblock %}
		<aside id="people_list">
			<p class="list_head">People you may know...</p>
			<ul>
				{% for people in all_users %}
				<li class="list_object"><a href="{% url 'myuserprofile:profile' people.slug %}">
					<div class="list_object_name_2">{{ people }}<br>{{ people.enterprise }}</div>
					<img class="img_thumb_large" src="/images/{{ people.get_image_thumbnail }}"></a>
				</li>
				{% endfor %}
			</ul>
		</aside>
	{% endblock %}
	</section>
		
	<section id="mid_content">
	{% block mid_content %}
		<form id="form_feed" role="form" action="{% url 'nodes:post' %}" method="POST">
			<textarea class="input_feed" form="form_feed" name="post" placeholder="Got something to discuss..?" required></textarea>
			<input class="submit_feed" type="submit" value="Feed">
			{% csrf_token %}
		</form>

	{% for node in feed_nodes %}
		<article class="feed_box" >
			<div class="feed_user">
				<a href="{% url 'myuserprofile:profile' node.myuser.slug %}">{{ node.myuser }}</a> | <a href="{% url 'enterprise:enterprise_profile' node.myuser.enterprise.slug %}">{{ node.myuser.enterprise }}</a>
				<div class="feed_date">{{ node.date }}</div>
			</div>
			<div class="feed_data">
				<div class="feed_body">{{ node.post }}</div>
				<div class="feed_response">
				{% for comments in node.get_comments %}
					<div class="comments">
						<div class="comment_user">
							{{ comments.myuser}} | {{ comments.myuser.enterprise}}
						</div>
						{{ comments.post }}
					</div>
				{% endfor %}
					<div class="comment_user">
							{{ user}} | {{ user.enterprise}}
					</div>
					<form class="form_comment" action="{% url 'nodes:comment' %}" method="POST">
						<textarea class="input_comment" name="post" placeholder="post a reply..." required></textarea>
						<input type="hidden" name="node" value="{{ node.pk }}">
						<input class="div_button" type="submit" value="Reply">
						{% csrf_token %}
					</form>
				</div>
			</div>
		</article>
	{% endfor %}
	{% endblock %}
	</section>

	<section id="right_content">
	{% block right_content %}
		<aside id="enterprise_list">
			<p class="list_head">Enterprises you may find interesting...</p>
			<ul>
				{% for enterprises in all_enterprises %}
				<li class="list_object"><a href="{% url 'enterprise:enterprise_profile' enterprises.slug %}">
					<img class="img_thumb_large" src="/images/{{ enterprises.enterpriseprofile.get_image_thumbnail }}">
					<div class="list_object_name_1">{{ enterprises }}</div>
					</a>
				</li>
				{% endfor %}
			</ul>

		</aside>
		<aside id="product_list">
			<p class="list_head">Products you may be looking for...</p>
			<ul>
				{% for products in all_products %}
				<li class="list_object">
					<img class="img_thumb_large" src="{{ MEDIA_URL }}{{ products.get_product_image_thumbnail }}">
					<div class="list_object_name_1">{{ products }}</div>
				</li>
				{% endfor %}
			</ul>
		</aside>
	{% endblock %}
	</section>
	
{% endblock %}