{% extends 'user_home.html' %}
{% load i18n %}

{% block mid_content %}
  <h2>{{page_enterprise}}: Inbox</h2>
    <ul>
      {% if messages %}
        {% for message in messages %}
          <li>{{message.from_user}}:  {{message}}</li>
        {% endfor %}
      {% else %}
        <li>no messages</li>
      {% endif %}
    </ul>
	<div class="send-message">    
    <div>
      <form id="form_message" role="form" method="post" action="{% url 'messages:send_message' %}">
        <input type="hidden" value="{{ active }}">
		    <input type="text" id="to" placeholder="to.." name="to">
        <input type="text" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off">
		    <div class="form-group">
          <div class="col-sm-11 col-sm-offset-1">
			      <button type="submit" class="btn btn-primary">Send</button>
	     		</div>
  		  </div>
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}