{% extends "user_home.html" %}
{% load imagekit %}
{% load staticfiles %}

{% block css_2 %}
	<link rel="stylesheet" type="text/css" href={% static 'css/profile_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/form_styler.css' %}>
{% endblock %}

{% block left_content %}
	<div id="left_ent">
		<h3 class="ent_title"><a href="">{{ page_enterprise }}</a></h3>
		<img id="ent_img" src="/images/{{ profile.get_image }}" alt="{{ page_enterprise }}">
	</div>
	<dl class="left_info">
		<div class="info_box">
			<dt class="info_name">Type :</dt>
			{% for type in page_enterprise.types.all %}
			<dd class="info_data">{{ type }}</dd>
			{% endfor %}
		</div>
		<div class="info_box">
			<dt class="info_name">Contact :</dt>
			<dd class="info_data">{{ profile.contact }}</dd>
		</div>
		<div class="info_box">
			<dt class="info_name">Website :</dt>
			<dd class="info_data">{{ profile.website }}</dd>
		</div>
	</dl>
{% endblock %}

{% block mid_content %}
	<section id="content_enterprise_profile_edit">
		<header class="header_form">
			<h2>Update your enterprise info . . .</h2>
		</header>
		<form enctype="multipart/form-data" action="" method="POST" role="form" >
			<ul class="form_edit">
			<li><input type="submit" value="save" class="pop_link_left">
			</li>
				{{ form.as_ul }}
				{% csrf_token %}
				{{ form.errors }}{{ form.non_field_errors }}
				<li><input type="submit" value="save" class="pop_link_left">
			</li>				
			</ul>
		</form>
	</section>
{% endblock %}