{% extends "base.html" %}
{% load imagekit %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
	<link rel="stylesheet" type="text/css" href={% static 'css/home_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/feed_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/profile_styler.css' %}>
{% endblock %}

{% block menu_links %}
    <li class="link"><a class="a_menu" href="{% url 'home' %}">Home</a></li>
    <li class="link"><a class="a_menu" href="{% url 'myuserprofile:profile' user.slug %}">Profile</a></li>
    <li class="link"><a class="a_menu" href="{% url 'enterprise:enterprise_profile' user.enterprise.slug %}">Workplace</a></li>
    <li class="link"><a class="a_menu" href="">Messages</a></li>
    <li class="link right"><a class="a_menu" href="">People</a></li>
    <li class="link right"><a class="a_menu" href="">Enterprises</a></li>
{% endblock %}

{% block content %}
	<section id="left_content">
		<ul id="left_menu">
			<li class="left_menu_button show" da>Details</li>
			<li class="left_menu_button">Members</li>
			<li class="left_menu_button">Assets</li>
			<li class="left_menu_button">Products</li>
		</ul>
		<div id="people_list">
			<p class="list_head">People you may know...</p>

		</div>
	</section>

	<section id="mid_content">
		<div class="edit">edit</div>
		<img class="user_thumb" src="/images/{{ profile.get_image }}" alt="{{ page_enterprise }}">
		<dl class="profile_box">
			<dt class="info_name">Company Name :</dt>
			<dd class="info_data">{{ page_enterprise }}</dd>
			
			<dt class="info_name">About :</dt>
			<dd class="info_data wide">{{ profile.about }}</dd>
			<dt class="info_name">Address :</dt>
			<dd class="info_data wide">{{ profile.address }}</dd>
			<dt class="info_name">Contact :</dt>
			<dd class="info_data">{{ profile.contact }}</dd>
		</dl>
	</section>

	<section id="right_content">
		<div id="enterprise_list">
			<p class="list_head">Enterprises you may find interesting...</p>

		</div>
		<div id="product_list">
			<p class="list_head">Products you may be looking for...</p>

		</div>
	</section>
	
{% endblock %}

{% block footer %}
	<ul>
    	<li><a href="{% url 'logout' %}">Log Out</a></li>
	</ul>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.left_menu_button').click(function(){
			var $this = $(this);
			$('.current').removeClass('current');
			$this.addClass('current');
			var url = $(this).data('link');
			$('.content_home').load(url,hido);
			
			function hido(){
				var hide = $('.content_home').find('.hidden');
				var hide_this = hide.data('hide');
				console.log(hide_this);
				$('.'+hide_this).text('');
			}

		});

	</script>
{% endblock %}