{% extends "user_home.html" %}
{% load imagekit %}
{% load staticfiles %}

{% block css_2 %}
	<link rel="stylesheet" type="text/css" href={% static 'css/profile_styler.css' %}>
	{% block css_3 %}
	{% endblock %}
{% endblock %}

{% block menu_content_links %}
	<li class="link_user">
		
	</li>
	<li class="link_content"><a class="a_menu" href="{% url 'enterprise:enterprise_profile' page_enterprise.slug %}">About</a></li>
    <li class="link_content"><a class="a_menu" href="{% url 'enterprise:product' page_enterprise.slug %}">Products</a></li>
    <li class="link_content"><a class="a_menu" href="{% url 'enterprise:enterprise_profile' user.enterpriset.slug %}">Capabilities</a></li>
    <li class="link_content"><a class="a_menu" href="{% url 'messages:inbox' %}">People</a></li>
{% endblock %}

{% block left_content %}
	<div id="left_ent">
		<h3 class="ent_title"><a href="{% url 'enterprise:enterprise_profile' page_enterprise.slug %}">{{ page_enterprise }}</a></h3>
		<img id="ent_img" src="/images/{{ profile.get_image }}" alt="{{ page_enterprise }}">
	</div>
	<dl class="left_info">
		<div class="info_box">
			<dt class="info_name">Type :</dt>
			{% for type in page_enterprise.types.all %}
			<dd class="info_data">{{ type }}</dd>
			{% endfor %}
		</div>
		<div class="info_box">
			<dt class="info_name">Contact :</dt>
			<dd class="info_data">{{ profile.contact }}</dd>
		</div>
		<div class="info_box">
			<dt class="info_name">Website :</dt>
			<dd class="info_data">{{ profile.website }}</dd>
		</div>
	</dl>
{% endblock %}

{% block mid_content %}
	{% ifequal myuser.enterprise page_enterprise %}
	<a class="pop_link_left" href="{% url 'enterprise:enterprise_profile_edit' %}">edit</a>
	{% endifequal %}
	<dl class="profile_box">
		<div class="info_box">
		<dt class="info_name">About :</dt>
		<dd class="info_data wide">{{ profile.about }}</dd>
		</div>
		<div class="info_box half">
		<dt class="info_name">Address :</dt>
		<dd class="info_data wide">{{ profile.address }}</dd>
		</div>
	</dl>
{% endblock %}

{% block scripts %}
{% endblock %}