{% extends "myuserprofile/profile.html" %}
{% load staticfiles %}

{% block css_3 %}
	<link rel="stylesheet" type="text/css" href={% static 'css/form_styler.css' %}>
{% endblock %}

{% block mid_content %}
	<section id="content_profile_edit">
		<header class="header_form">
			<h2>Update yours Profile</h2>
		</header>
		<form class="forms_home" enctype="multipart/form-data" action="" method="POST" role="form" >
			<ul class="uls_home">
				{{ form.as_ul }}
				{{ form.errors }} {{ form.non_field_errors }}
				{% csrf_token %}
				<li><input class="submit_main" type="submit" value="submit"></li>
			</ul>
		</form>
	</section>
{% endblock %}