{% extends 'frame.html' %}
{% load staticfiles %}

{% block css %}
	<link href={% static 'css/form_styler.css' %} media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<section id="content_profile_edit">
	<header class="header_form">
		<h2>Update yours Profile</h2>
	</header>
	<form class="" enctype="multipart/form-data" action="{% url 'myuserprofile:profile_edit' %}" target="_parent" method="POST" role="form" >
		<input class="pop_link_left" type="submit" value="Save">
		<ul class="form_edit">
			{{ form.as_ul }}
			{% csrf_token %}
		</ul>
	</form>
</section>
{% endblock %}