{% extends "user_home.html" %}
{% load imagekit %}
{% load staticfiles %}

{% block css_2 %}
	<link rel="stylesheet" type="text/css" href={% static 'css/profile_styler.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/form_styler.css' %}>
	{% block css_3 %}
	{% endblock %}
{% endblock %}

{% block menu_content_links %}
	<h3 class="ent_title"><a href="{% url 'myuserprofile:profile' page_user.slug %}">{{ page_user }}</a></h3>
	<a href="{% url 'myuserprofile:profile' page_user.slug %}"><li class="link_content">About</li></a>
	<!--
	<li class="link_content aj" class="a_menu" data-link="{% url 'myuserprofile:profile' page_user.slug %}">About</li>-->
{% endblock %}

{% block left_menu %}
	<div id="left_ent">
		<img id="ent_img" src="/images/{{ page_user_profile.get_image }}" alt="{{ page_user }}">
		{% ifnotequal page_user user %}
		<form action="{% if relationship_status == 'F' %}{% url 'myuserprofile:relationships:unfollow' %}{% else %}{% url 'myuserprofile:relationships:follow'  %}{% endif %}" method="POST">
			{% csrf_token %}
		<input type="hidden" value="{{ page_user.id }}" name="to_user">
		<input type="submit" class="follow" value="{% if relationship_status == 'F' %}Unfollow{% else %}Follow{% endif %}">	
		</form>
		{% endifnotequal %}
	</div>
{% endblock %}



{% block mid_content %}
<section id="mid_content_box">
	{% ifequal page_user user %}
		<iframe id="edit_frame" class="inner_frame" name="edit_frame" src=""></iframe>
	{% endifequal %}
	<dl class="profile_box">
	{% ifequal page_user user %}
	<a class="pop_link_left framer" href="{% url 'myuserprofile:profile_edit' %}" target="edit_frame">edit</a>
	{% endifequal %}
		<div class="info_box half">
			<dt class="info_name">Full Name :</dt>
			<dd class="info_data">{{ page_user_profile.get_screen_name }}</dd>
		</div>
		<div class="info_box half">
			<dt class="info_name">Works At :</dt>
			<dd class="info_data ilog">{{ page_user.enterprise }}</dd>
		</div>
		<div class="info_box half">
			<dt class="info_name">Position :</dt>
			<dd class="info_data">{{ page_user_profile.job_position }}</dd>
		</div>
		<div class="info_box">
			<dt class="info_name">Experienced in :</dt>
			<dd class="info_data wide">{{ page_user_profile.experience }}</dd>
		</div>
		<div class="info_box half">
			<dt class="info_name">Skillset :</dt>
			<dd class="info_data">
			{% for skills in skillset %}
				<ul>
					<li>{{skills}}</li>
				</ul>
			{% endfor %}
			</dd>
		</div>
	</dl>
</section>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.aj').click(function(){
			var $this = $(this);
			var url = $(this).data('link');
			$('#mid_content_box').load(url);
			
			function hido(){
				var hide = $('.profile').find('.hidden');
				var hide_this = hide.data('hide');
				$('.'+hide_this).text('');
			}
		});
		$('.aj_f').click(function(){
			var $this = $(this);
			var url = $(this).data('link');
			var form = $('#form_edit').serialize();
			console.log(form,url);
			//$('#mid_content_box').load(url);
			
			function hido(){
				var hide = $('.profile').find('.hidden');
				var hide_this = hide.data('hide');
				$('.'+hide_this).text('');
			}
		});
	</script>
{% endblock %}