{% extends "user_home.html" %}
{% load imagekit %}
{% load staticfiles %}
{% load i18n %}

{% block css_2 %}
	<link rel="stylesheet" type="text/css" href={% static 'css/profile_styler.css' %}>
	{% block css_3 %}
	{% endblock %}
{% endblock %}

{% block left_content %}
	<ul id="left_menu">
		<li class="left_menu_button show">Details</li>
		<li class="left_menu_button">Activity</li>
		<li class="left_menu_button">Follows</li>
		<li class="left_menu_button">Followers</li>
	</ul>
	<div id="people_list">
		<p class="list_head">People you may know...</p>
	</div>
{% endblock %}

{% block mid_content %}
	{% ifequal page_user user %}
	<a class="edit" href="{% url 'myuserprofile:profile_edit' %}">edit</a>
	{% endifequal %}
	<img class="user_thumb" src="/images/{{ page_user_profile.get_image_thumbnail }}" alt="{{ user.get_full_name }}">
	<dl class="profile_box">
		<dt class="info_name">Full Name :</dt>
		<dd class="info_data">{{ page_user_profile.get_screen_name }}</dd>
		<dt class="info_name">Works At :</dt>
		<dd class="info_data ilog">{{ page_user.enterprise }}</dd>
		<dt class="info_name">Position :</dt>
		<dd class="info_data">{{ page_user_profile.job_position }}</dd>
		<dt class="info_name">Gender :</dt>
		<dd class="info_data">{% ifequal page_user_profile.gender 'M' %}Male{% else %}Female{% endifequal %}</dd>
		<dt class="info_name">Date of Birth :</dt>
		<dd class="info_data">{{ page_user_profile.job_position }}</dd>
		<dt class="info_name">Experienced in :</dt>
		<dd class="info_data wide">{{ page_user_profile.experience }}</dd>
		<dt class="info_name">Skillset :</dt>
		<dd class="info_data">{% for skills in skillset %}		    
								{{skills}}
							  {% endfor %}</dd>
	</dl>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.left_menu_button').click(function(){
			var $this = $(this);
			$('.current').removeClass('current');
			$this.addClass('current');
			var url = $(this).data('link');
			$('.content_home').load(url,hido);
			
			function hido(){
				var hide = $('.content_home').find('.hidden');
				var hide_this = hide.data('hide');
				console.log(hide_this);
				$('.'+hide_this).text('');
			}
		});
	</script>
{% endblock %}